.prices__header {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 24px;
    text-transform: uppercase;
    align-content: center;
    padding-left: 30px;
    color: #7e7e82;
    height: 56px;
    background: linear-gradient(to right, #f8f8f8,white);
    margin-bottom: 25px;
    border-top: 1px solid #41f6d7;
}

.prices__row {
    width: 1056px;
    background-color: white;
    height: 65px;
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tbody {
    border-bottom: 3px;
    border-color: #eaeaea;
}

.prices__table {
    padding: 30px;
}

.prices__button {
    padding-left: 20px;
}

.prices__go {
    padding-left: 20px;
    background-color: #FF3E79;
    display: flex;
    align-items: center;
    color: white;
    border: none;
    border-radius: 30px;
    width: 119px;
    height: 32px;
}

.prices__go--img {
    padding-left: 10px;
}

.prices__note {
    width: 45%;
    padding-left: 30px;
}
.prices__offer {
    padding-left: 30px;
    display: flex;
    align-items: center;
}