@use 'sidebar';
@use 'repair-brands';
@use 'cps-services';
@use 'prices';
@use 'footer';

@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  margin: 0;
  font-family: Comic, sans-serif;
  color: black;
}

footer {
  margin-left: 30px;
}