@use 'sidebar';
@use 'repair-brands';
@use 'cps-services';

@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  margin: 0;
  font-family: Comic, sans-serif;
  background-color: white;
  color: black;
}
